div#screen {
    position: absolute;
    top: 0px;
    width: 258px;
    height: 514px;
    border: 1px solid #036;
}

div#log {
    position: absolute;
    top: 0px;
    left: 258px;
    width: 148px;
    height: 32px;
    border: 1px solid #999;
    background-color: rgb(247, 192, 222);
    color: #fff;
    text-align: center;
}

div#data {
    position: absolute;
    top: 32px;
    left: 258px;
    width: 148px;
    height: 482px;
    border: 1px solid #999;
    background-color: rgb(217, 238, 192);
    color: #fff;
    text-align: center;
}

/* --------------------------- */

div.block {
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: #69c;
    border: 1px solid #ddd;
}

div.space {
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: #eee;
}

div.current {
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: #906;
    border: 1px solid #ddd;
}
