.tab {
//    border: 1px solid $primary-color;
//    border-radius: 20px;
    padding: 6px 8px;
    font-size: 0.8em;
    margin-left: 10px;
    float:left;


    &:hover {
        color: $green; //darken($primary-color, 15%);
        border-color: $green; //darken($primary-color, 15%);
    }
}
