<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<!--
	<span class="mobile btn-mobile-menu">
		<i class="fa fa-list btn-mobile-menu__icon"></i>
		<i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
	</span>
-->
	<!-- include side-panel.html -->

	<div class="content-wrapper">
		<div class="content-wrapper__inner">
			<a padding-right='20px' href="/">HOME</a> | <a padding-left='20px' href="/page/bible">BIBLE</a>
			<hr class="post-list__divider" />
			{{ content }} {% include footer.html %}
		</div>
	</div>

	{% include external.html %}

</body>

</html>
